{% extends 'frontend/inscription.layout.html.twig' %}

{% block stylesheet %}
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        p{
            line-height: 2.1;
        }
    </style>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <div class="w3-container" style="margin-top: 150px; width: 60%; margin: auto">
        <h2 style="text-align: right"> <i class="material-icons" style="color: #2980b9; font-size: 76px">
                check
            </i></h2>
                <div class="w3-card-4" >
                <!-- For IE9 or below. -->
                <div class="w3-container w3-center" style="padding-top: 20px">
                    <p>Merci ! Votre formulaire d'inscription a bien été transmis</p>

                    <div class="tab" style="margin: auto">
                        <div class="styleCard">
                            <fieldset>
                                {#***********************#}
                                <p>Nous vous remercions pour le temps que vous nous avez accordé pour compléter ce formulaire. Vous recevrez prochainement un mail de confirmation d’inscription.</p>
                            </fieldset>
                        </div>
                    </div>
                </div>
        </div>
    </div>



    </div>

{% endblock %}
