
.textAlignCenter{
    text-align: center;
}

.navHead{
    width: 100%;
    background-image: url(/frontend/images/logo-syres.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0px;
    height: 61px;
}

.topnav {
    overflow: hidden;
    position: fixed;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: black;
}

.topnav a.active {
    color: white;
}




/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    /*Image only BG fallback*/

    /*background = gradient + image pattern combo*/
}



/*form styles*/
#msform {
    width: 100%;
    /*margin: 50px auto;*/
    text-align: center;
    position: relative;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
    background-color: rgba(255,255,255,.75);
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #2C3E50;
    font-size: 13px;
    background-color: rgba(255,255,255,.75);

}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #0a6aa1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;

}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #0a6aa1;
}

/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #0a6aa1;
    margin-bottom: 10px;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    display: flex;

}

#progressbar li {
    list-style-type: none;
    color: black;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #0a6aa1;
    color: white;
}




  .heading-title{
      display: none;
  }
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    margin-left: 2px;
    float: left; /*pour IE*/
}

ul li a {
    display: block;
    float: left;
    width: 100px;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    border: 2px solid;
    /*pour avoir un effet "outset" avec IE :*/
    border-color: #DCDCDC #696969 #696969 #DCDCDC;
}

ul li a:hover {
    background-color: #D3D3D3;
    border-color: #696969 #DCDCDC #DCDCDC #696969;
}


table td {
    text-align: start;
}

table th {
    border: none;
    text-align: start;
}


@media screen and (min-width: 768px) {
    #langues div #d_flex input{
        text-align: -webkit-center;
        margin-left: 45%;
    }
    #langues div d_flex input{
        text-align: -webkit-center;
    }

    table {
        width: 70%;
    }

    select{
        height: 50px;
    }

    #App_inscription_vousEtes{
        width: 216px;
    }

}

@media screen and (max-width: 767px) {
    #langues div d_flex input{
        text-align: initial;
    }

    table {
        width: 100%;
    }

    #msform fieldset {
        background: white;
        border: 0 none;
        border-radius: 3px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        box-sizing: border-box;
        width: 100%;
        margin: 0%;

        /*stacking fieldsets above each other*/
        position: relative;
        background-color: rgba(255,255,255,.75);
    }



    select {
        height: 52px;
    }

    #App_inscription_vousEtes{
        width: 100%;
        height: 52px;
    }
}

label {
    padding-left: 4px;
    padding-right: 5px;
    font-size: 14px;
    color: black;
}
p{
    color: black;
}

#App_inscription_nettoyageVisage {
    display: inline-block;
}

ul li {
    list-style: none;
}



* {
    box-sizing: border-box;
}

html {
    font: 14px/1.4 Sans-Serif;
}

form {
    float: left;
    margin: 20px;

div {
    position: relative;
    overflow: hidden;
}

input, textarea {
    width: 100%;
    border: 2px solid gray;
    background: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 8px 12px;
    outline: 0;

&
:valid {
/ / Hides the label background: white;
}

&
:focus {
    border-color: #f06d06;
}

&
:focus + label {
    background: #f06d06;
    color: white;
    font-size: 70%;
    padding: 1px 6px;
    z-index: 2;
    text-transform: uppercase;
}

}
label {
    transition: / / not padding background 0.2s,
    color 0.2s,
    top 0.2s,
    bottom 0.2s,
    right 0.2s,
    left 0.2s;
    position: absolute;
    color: #999;
    padding: 7px 6px;
}

textarea {
    display: block;
    resize: vertical;
}

}

form.go-bottom {

input, textarea {
    padding: 12px 12px 12px 12px;
}

label {
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

input:focus, textarea:focus {
    padding: 4px 6px 20px 6px;
}

input:focus + label, textarea:focus + label {
    top: 100%;
    margin-top: -16px;
}

}
form.go-right {

label {
    top: 2px;
    right: 100%;
    width: 100%;
    margin-right: -100%;
    bottom: 2px;
}

input:focus + label, textarea:focus + label {
    right: 0;
    margin-right: 0;
    width: 40%;
    padding-top: 5px;
}

}


.divformatageTextJs {
    margin-top: 10px;
}




@media (min-width: 960px) {



    #langues div #d_flex input{
        text-align: -webkit-center;
        margin-left: 45%;
    }


    .d_flex {
        display: flex;
    }

    .col-left {
        width: 50%;
    }

    .col-right {
        width: 50%;
        padding-left: 10px;
        border-top: none;
    }
}


.input_mail {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* formulaire */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    resize: vertical;
    background-color: rgba(255,255,255,.75);

}

input[type=mail], select, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: rgba(255,255,255,.75);

}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

label {
    margin-left: 0px;
    margin-top: 8px !important;
}


.a joutText {
    background-color: #0b84fe;
}

/*************/
#lirelasuite {
    display: none;
}

.pjs {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
}

.formatageTextJs {
    margin-bottom: 0px;
    font-size: 18px;
    color: #0a6aa1;
    padding-left: 4px;
    margin-top: px;
}

p {
    display: block;
}

input{
    margin-top: 7px;
    border-top: none;
}
#App_inscription_peauVisageSinsible{
    display: flex;
    width: 50px;
}

#App_inscription_autreCaracteristiqueCorpsPeau{
    display: flex;
    width: 50px;
}
#App_inscription_autreCaracteristiqueCorpsPeau input{
    display: flex;
    width: auto;
}
#App_inscription_visageIntolerante input{
    width: auto;
}

#App_inscription_peauVisageSinsible{
    display: flex;
    width: 50px;
}
#App_inscription_visageIntolerante input{
    width: auto;
}

#App_inscription_peauVisageReactive{
    display: flex;
    width: 50px;
}
#App_inscription_peauVisageReactive input{
    width: auto;
}



  .checkUn, a, p, img, blockquote, form, fieldset, textarea, input, label, iframe, code, pre {
      display: inline;
  }

.labelCheck {
    padding-left: 4px;
    text-align: left;
}

#langues div #d_flex input {

    margin: 1px;
    padding-top: 29px;
    margin-top: 5px;
    width: 22px;
}

label{
    font-size: 17px !important;
}
App_inscription_checkboxUN input{
    margin-top: 8px;
}



  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}



input {
    margin: auto;
}

@media (min-width: 1200px) {
    .d_flex {
        display: flex;
    }
}
#App_inscription_peauVisageSinsible{
    display: flex;
}
#App_inscription_peauVisageSinsible input{
    width: auto;
}

form{
    float: none;
}

#App_inscription_conditionGenerale input{
    width: auto;
}
#App_inscription_checkboxUN{
    width: auto;
}
#App_inscription_checkboxDeux{
    width: auto;
}
#App_inscription_checkboxTrois{
    width: auto;
}
#App_inscription_checkboxQuatre{
    width: auto;
}
#App_inscription_checkboxCinq{
    width: auto;
}
#App_inscription_checkboxSept{
    width: auto;
}
#App_inscription_checkboxHuit{
    width: auto;
}
#App_inscription_checkboxNeuf{
    width: auto;
}
#App_inscription_checkboxQuatre{
    width: auto;
    margin-top: 10px;
}

body{
    background-image: url(/frontend/images/inscription/Holly_FRK.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


select{
    background-color: rgba(255,255,255,.75);

}

.vousEtes{
    display: grid
}



  form {
      position: relative;
      padding: 15px 0 0;
      width: 100%;
  }
select{
    border-bottom: 2px solid #9b9b9b;
}


input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    border-top: none;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
input::placeholder {
    color: black;
}
select::placeholder {
    color: transparent;
}
input:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

select:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

input:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

select:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

input:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}

/* reset input */
input:required, .input:invalid {
    box-shadow: none;
}








#ide {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#ide:after {
    color: #0a6aa1;
    background: #fff;
    content: 'IDENTITÉ';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#add {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#add:after {
    color: #0a6aa1;
    background: #fff;
    content: 'VOTRE ADRESSE | CONTACTS';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#prof {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#prof:after {
    color: #0a6aa1;
    background: #fff;
    content: 'VOTRE PROFESSION | ALLERGIES | TESTS CONSOMMATEURS | AUTRES INFORMATIONS';
    padding: 0 4px;
    position: relative;
    top: -18px;
}


#bttnSave {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
}

#bttnSave:after {
    color: black;
    position: relative;
    content: 'Envoyer';
    top: -8px;
}


#enfant {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#enfant:after {
    color: #0a6aa1;
    background: #fff;
    content: 'VOS ENFANTS MINEURS';
    padding: 0 4px;
    position: relative;
    top: -18px;
}

#conditionG {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#conditionG:after {
    color: #0a6aa1;
    background: #fff;
    content: 'CONFIRMATION D’INSCRIPTION';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#conditionD {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#conditionD:after {
    color: #0a6aa1;
    background: #fff;
    content: 'DONNÉES PERSONNELLES';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#epilation {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#epilation:after {
    color: #0a6aa1;
    background: #fff;
    content: 'ÉPILATION';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#deo-anti {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#deo-anti:after {
    color: #0a6aa1;
    background: #fff;
    content: 'DÉODORANT | ANTI-TRANSPIRANT';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#carCorp {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#shampooing:after {
    color: #0a6aa1;
    background: #fff;
    content: 'SHAMPOOING';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#langueP {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#langueP:after {
    color: #0a6aa1;
    background: #fff;
    content: 'LANGUES PARLÉES';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#rasage {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#rasage:after {
    color: #0a6aa1;
    background: #fff;
    content: 'RASAGE';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#shampooing {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#infoCapi:after {
    color: #0a6aa1;
    background: #fff;
    content: 'INFORMATIONS CAPILLAIRES';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#infoCapi {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#carnation:after {
    color: #0a6aa1;
    background: #fff;
    content: 'CARNATION';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#carnation {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#carCorp:after {
    color: #0a6aa1;
    background: #fff;
    content: 'CARACTÉRISTIQUES DU CORPS';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#autreInfo {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#autreInfo:after {
    color: #0a6aa1;
    background: #fff;
    content: 'AUTRES INFORMATIONS';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#longB {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#longB:after {
    color: #0a6aa1;
    background: #fff;
    content: 'LONGUEUR DE LA BARBE';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#maquillage {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#maquillage:after {
    color: #0a6aa1;
    background: #fff;
    content: 'MAQUILLAGE';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#derEsthetique {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#derEsthetique:after {
    color: #0a6aa1;
    background: #fff;
    content: 'DERMATOLOGIE ESTHÉTIQUE';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#carVisageMauillage {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#carVisageMauillage:after {
    color: #0a6aa1;
    background: #fff;
    content: 'CARACTÉRISTIQUES DU VISAGE';
    padding: 0 4px;
    position: relative;
    top: -17px;
}


* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: 'Montserrat', sans-serif;
    width: 70%;
    min-width: 300px;
}

h1 {
    text-align: center;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid, select.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */


button {
    background-color: #0a6aa1;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #4CAF50;
}
fieldset{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}




table {
    font-family: 'Montserrat', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}



input {
    margin: auto;
}

@media (min-width: 1200px) {
    .d_flex {
        display: flex;
    }
}
#appbundle_preinscription_peauVisageSinsible{
    display: flex;
}
#appbundle_preinscription_peauVisageSinsible input{
    width: auto;
}

form{
    float: none;
}

#appbundle_preinscription_conditionGenerale input{
    width: auto;
}
#appbundle_preinscription_checkboxUN{
    width: auto;
}
#appbundle_preinscription_checkboxDeux{
    width: auto;
}
#appbundle_preinscription_checkboxTrois{
    width: auto;
}
#appbundle_preinscription_checkboxQuatre{
    width: auto;
}
#appbundle_preinscription_checkboxCinq{
    width: auto;
}
#appbundle_preinscription_checkboxSept{
    width: auto;
}
#appbundle_preinscription_checkboxHuit{
    width: auto;
}
#appbundle_preinscription_checkboxNeuf{
    width: auto;
}
#appbundle_preinscription_checkboxQuatre{
    width: auto;
    margin-top: 10px;
}

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


select{
    background-color: rgba(255,255,255,.75);

}

.vousEtes{
    display: grid
}


.heading-title{
    display: none;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    margin-left: 2px;
    float: left; /*pour IE*/
}

ul li a {
    display: block;
    float: left;
    width: 100px;
    background-color: #6495ED;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    border: 2px solid;
    /*pour avoir un effet "outset" avec IE :*/
    border-color: #DCDCDC #696969 #696969 #DCDCDC;
}

ul li a:hover {
    background-color: #D3D3D3;
    border-color: #696969 #DCDCDC #DCDCDC #696969;
}


table td {
    text-align: start;
}

table th {
    border: none;
    text-align: start;
}


@media screen and (min-width: 768px) {
    #langues div #d_flex input{
        text-align: -webkit-center;
        margin-left: 45%;
    }
    #langues div d_flex input{
        text-align: -webkit-center;
    }

    table {
        width: 70%;
    }

    select{
        height: 50px;
    }

    #appbundle_preinscription_vousEtes{
        width: 216px;
    }

}

@media screen and (max-width: 767px) {
    #langues div d_flex input{
        text-align: initial;
    }

    table {
        width: 100%;
    }

    #msform fieldset {
        background: white;
        border: 0 none;
        border-radius: 3px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        box-sizing: border-box;
        width: 100%;
        margin: 0%;

        /*stacking fieldsets above each other*/
        position: relative;
        background-color: rgba(255,255,255,.75);
    }



    select {
        height: 52px;
    }

    #appbundle_preinscription_vousEtes{
        width: 100%;
        height: 52px;
    }
}

label {
    padding-left: 4px;
    padding-right: 5px;
    font-size: 14px;
    color: black;
}
p{
    color: black;
}

#appbundle_preinscription_nettoyageVisage {
    display: inline-block;
}

ul li {
    list-style: none;
}


#content {
    background-image: url('/images/inscrioption/Holly_FRK.jpg');
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4) !important;
    background-color: rgba(255,255,255,.75) !important
}

* {
    box-sizing: border-box;
}

html {
    font: 14px/1.4 Sans-Serif;
}

form {
    margin: 20px

div {
    position: relative;
    overflow: hidden;
}

input, textarea {
    width: 100%;
    border: 2px solid gray;
    background: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 8px 12px;
    outline: 0;

&
:valid {
/ / Hides the label background: white;
}

&
:focus {
    border-color: #f06d06;
}

&
:focus + label {
    background: #f06d06;
    color: white;
    font-size: 70%;
    padding: 1px 6px;
    z-index: 2;
    text-transform: uppercase;
}

}
label {
    transition: / / not padding background 0.2s,
    color 0.2s,
    top 0.2s,
    bottom 0.2s,
    right 0.2s,
    left 0.2s;
    position: absolute;
    color: #999;
    padding: 7px 6px;
}

textarea {
    display: block;
    resize: vertical;
}

}

form.go-bottom {

input, textarea {
    padding: 12px 12px 12px 12px;
}

label {
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

input:focus, textarea:focus {
    padding: 4px 6px 20px 6px;
}

input:focus + label, textarea:focus + label {
    top: 100%;
    margin-top: -16px;
}

}
form.go-right {

label {
    top: 2px;
    right: 100%;
    width: 100%;
    margin-right: -100%;
    bottom: 2px;
}

input:focus + label, textarea:focus + label {
    right: 0;
    margin-right: 0;
    width: 40%;
    padding-top: 5px;
}

}


.divformatageTextJs {
    margin-top: 10px;
}



@media (min-width: 960px) {

    #langues div #d_flex input{
        text-align: -webkit-center;
        margin-left: 45%;
    }


    .d_flex {
        display: flex;
    }

    .col-left {
        width: 50%;
    }

    .col-right {
        width: 50%;
        padding-left: 10px;
        border-top: none;
    }
}



.input_mail {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* formulaire */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: rgba(255,255,255,.75);

}

input[type=mail], select, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: rgba(255,255,255,.75);

}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

label {
    margin-left: 0px;
}


.a joutText {
    background-color: #0b84fe;
}

/*************/
#lirelasuite {
    display: none;
}

.pjs {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
}

.formatageTextJs {
    margin-bottom: 0px;
    font-size: 18px;
    color: #0a6aa1;
    padding-left: 4px;
    margin-top: px;
}

p {
    display: block;
}

input{
    margin-top: 7px;
    border-top: none;
}
#appbundle_preinscription_peauVisageSinsible{
    display: flex;
    width: 50px;
}

#appbundle_preinscription_autreCaracteristiqueCorpsPeau{
    display: flex;
    width: 50px;
}
#appbundle_preinscription_autreCaracteristiqueCorpsPeau input{
    display: flex;
    width: auto;
}
#appbundle_preinscription_visageIntolerante input{
    width: auto;
}

#appbundle_preinscription_peauVisageSinsible{
    display: flex;
    width: 50px;
}
#appbundle_preinscription_visageIntolerante input{
    width: auto;
}

#appbundle_preinscription_peauVisageReactive{
    display: flex;
    width: 50px;
}
#appbundle_preinscription_peauVisageReactive input{
    width: auto;
}

#appbundle_preinscription_date{
    display: none;
}

  .checkUn, a, p, img, blockquote, form, fieldset, textarea, input, label, iframe, code, pre {
      display: inline;
  }

.labelCheck {
    padding-left: 4px;
    text-align: left;
}

#langues div #d_flex input {
    width: auto;
    margin: 1px;
    padding-top: 29px;
    margin-top: 9px;
    background-color: red;
}

appbundle_preinscription_checkboxUN input{
    margin-top: 8px;
}


.textAlignCenter{
    text-align: center;
}

.navHead{
    background-color: #EFEFEF;
    width: 100%;
    background-image: url(/frontend/images/logo-syres.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0px;
    height: 61px;
}

.topnav {
    overflow: hidden;
    position: fixed;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: black;
}

.topnav a.active {
    color: white;
}




/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    /*Image only BG fallback*/

    /*background = gradient + image pattern combo*/
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*form styles*/
#msform {
    width: 100%;
    /*margin: 50px auto;*/
    text-align: center;
    position: relative;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
    background-color: rgba(255,255,255,.75);
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #2C3E50;
    font-size: 13px;
    background-color: rgba(255,255,255,.75);

}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #0a6aa1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;

}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #0a6aa1;
}

/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #0a6aa1;
    margin-bottom: 10px;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    display: flex;

}

#progressbar li {
    list-style-type: none;
    color: black;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #0a6aa1;
    color: white;
}

.heading-title{
    display: none;
}

.notEmpty{
    border:10px solid red;
}



form {
    position: relative;
    margin-top: 10px;
    width: 100% !important;
}


#content #container form {
    width: 100% !important;
}

select{
    border-bottom: 2px solid #9b9b9b;
}


input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    border-top: none;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
input::placeholder {
    color: black;
}
select::placeholder {
    color: transparent;
}
input:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

select:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

input:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

select:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

input:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}

/* reset input */
input:required, .input:invalid {
    box-shadow: none;
}








#ide {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#ide:after {
    color: #0a6aa1;
    background: #fff;
    content: 'IDENTITÉ';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#add {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#add:after {
    color: #0a6aa1;
    background: #fff;
    content: 'VOTRE ADRESSE | CONTACTS';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#prof {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#prof:after {
    color: #0a6aa1;
    background: #fff;
    content: 'VOTRE PROFESSION | ALLERGIES | TESTS CONSOMMATEURS | AUTRES INFORMATIONS';
    padding: 0 4px;
    position: relative;
    top: -18px;
}


#bttnSave {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
}

#bttnSave:after {
    color: black;
    position: relative;
    content: 'Envoyer';
    top: -8px;
}


#enfant {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#enfant:after {
    color: #0a6aa1;
    background: #fff;
    content: 'VOS ENFANTS MINEURS';
    padding: 0 4px;
    position: relative;
    top: -18px;
}

#conditionG {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#conditionG:after {
    color: #0a6aa1;
    background: #fff;
    content: 'CONFIRMATION D’INSCRIPTION';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#conditionD {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#conditionD:after {
    color: #0a6aa1;
    background: #fff;
    content: 'DONNÉES PERSONNELLES';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#epilation {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#epilation:after {
    color: #0a6aa1;
    background: #fff;
    content: 'ÉPILATION';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#deo-anti {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#deo-anti:after {
    color: #0a6aa1;
    background: #fff;
    content: 'DÉODORANT | ANTI-TRANSPIRANT';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#carCorp {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#shampooing:after {
    color: #0a6aa1;
    background: #fff;
    content: 'SHAMPOOING';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#langueP {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#langueP:after {
    color: #0a6aa1;
    background: #fff;
    content: 'LANGUES PARLÉES';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#rasage {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#rasage:after {
    color: #0a6aa1;
    background: #fff;
    content: 'RASAGE';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#shampooing {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#infoCapi:after {
    color: #0a6aa1;
    background: #fff;
    content: 'INFORMATIONS CAPILLAIRES';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#infoCapi {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#carnation:after {
    color: #0a6aa1;
    background: #fff;
    content: 'CARNATION';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#carnation {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#carCorp:after {
    color: #0a6aa1;
    background: #fff;
    content: 'CARACTÉRISTIQUES DU CORPS';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#autreInfo {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#autreInfo:after {
    color: #0a6aa1;
    background: #fff;
    content: 'AUTRES INFORMATIONS';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#longB {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#longB:after {
    color: #0a6aa1;
    background: #fff;
    content: 'LONGUEUR DE LA BARBE';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#maquillage {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#maquillage:after {
    color: #0a6aa1;
    background: #fff;
    content: 'MAQUILLAGE';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#derEsthetique {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#derEsthetique:after {
    color: #0a6aa1;
    background: #fff;
    content: 'DERMATOLOGIE ESTHÉTIQUE';
    padding: 0 4px;
    position: relative;
    top: -17px;
}

#carVisageMauillage {
    border: none;
    border: thick double #32a1ce;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#carVisageMauillage:after {
    color: #0a6aa1;
    background: #fff;
    content: 'CARACTÉRISTIQUES DU VISAGE';
    padding: 0 4px;
    position: relative;
    top: -17px;
}


.save {
    width: 100px;
    background: #0a6aa1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;

}

p{
    font-size: 17px !important;
}

table {
    font-family: arial, sans-serif;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.sidebar-light-clean .menu-item i:first-child {
    margin-top: 9px;
}

.header-light .header-logo {
    background-image: url(../images/logo-syres.png);
}

#contentF{
    border: 2px solid black;
}
#personal_information{
    display:none;
}


div input[type="checkbox"] {
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: black;
}


div input[type="radio"] {
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: black;
}


.styleCard{
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    position: relative;
    margin: 0px 10%;
    background-color: rgba(255,255,255,.75)
}