.containers {
    /* On ajoute une marge sur les cotés de l'écran */
    padding-right: 30px;
    padding-left: 30px;

    width: 576%;
    /* Et on centre */
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
}

.text_align{
    text-align: center;
}
.p_align{
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: #0E1112;
    font-size: 16px;
}
.text_align{
    text-align: center;
}

.paddingSalutation{
    align-content: flex-end;
    text-align: center;
    width: 45%;
    padding: 0px
}
.divEnglobEntete{
    align-content: center
}
/**** Grid ****/
@media screen and (max-width: 768px){
    .container{
        width: 768px;
    }
    .aLaLigne{
        display: inline-block;
    }
    .aCacherSml{
        display: none;
    }
    .marginAuto{
        margin: auto;
    }

    .imgLeft{
        text-align: center;
    }
    .imgTail{
        width: 250px;
    }

    .imgLesTrois{
        width: 250px;
        text-align: center;
        margin: auto;
    }
}
@media screen and (min-width: 769px){
    .containers{
        width: 876px;
    }
    #aLaMemeLigne{
        display: flex;
    }
    .aCacherMd{
        display: none;
    }
    .imgEntete{
        padding-left: 10px
        width: 55%
    }

    .imgTail{
        width: 300px;
    }

    .imgTroisieme{
        width: 400px;
        margin: auto;
    }
    .paddingSalutation{
        padding: 0px; padding-top: 55px;
    }

}

@media screen and(min-width: 1200px) {
    .containers {
        width: 792px;
    }
}

@media screen and(min-width: 992px) {
    .containers {
        width: 770px;
    }
}

@media (min-width: 1200px)
    .container {
        width: 170px;
    }

    #imgEntete{
        padding: 5px
    }
    .divSalutationSml{
        align-content: flex-end;
        text-align: center;
        padding: 0px;
        padding-top: 55px;
    }
    .img_centre{
        padding-right: 30px;
        padding-left: 30px;
        /* Et on centre */
        margin-right: auto;
        margin-left: auto;
    }
    .salutation{
        padding: 0px; margin: 0px; margin-bottom: 4px
    }
    .presentation{
        padding: 0px; margin: 0px; color: #0a6aa1; font-size: 20px
    }
    .textDesc{
        padding: 0px; margin: 0px; font-size: 18px; color: #0a6aa1;
    }

    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

    .active, .accordion:hover {
        background-color: #ccc;
    }

    .panel {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
    }

    .p_align {
        margin-bottom: 0px;
    }

    .home-navigation {
        padding-top: 5px;
        max-width: 100%;
        margin: auto;
    }

#tittre_newsletter{
    margin-bottom: 20px
}
.container {
    /* On ajoute une marge sur les cotés de l'écran */
    padding-right: 15px;
    padding-left: 15px;

    /* Et on centre */
    margin-right: auto;
    margin-left: auto;
}

/* Sur les grands écrans, on limite la largeur du contenu */
@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}
.input_mail{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
/* formulaire */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
label{
    margin-left: 0px;
}

.class_img{
    margin-bottom: 10px;
}

    * {
        box-sizing: border-box;
    }

    img {
        vertical-align: middle;
    }

    /* Position the image container (needed to position the left and right arrows) */
    .container {
        position: relative;
    }

    /* Hide the images by default */
    .mySlides {
        display: none;
    }

    /* Add a pointer when hovering over the thumbnail images */
    .cursor {
        cursor: pointer;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* Container for image text */
    .caption-container {
        text-align: center;
        background-color: #222;
        padding: 2px 16px;
        color: white;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Six columns side by side */
    .column {
        float: left;
        width: 16.66%;
    }

    /* Add a transparency effect for thumnbail images */
    .demo {
        opacity: 0.6;
    }

    .active,
    .demo:hover {
        opacity: 1;
    }

    .carousel-caption h3{
        color: black;
    }
    .carousel-caption p{
        color: black;
    }

    div.sticky {
        position: -webkit-sticky;
        position: sticky;
        bottom: 0px;
        background-color: white;
        padding: 20px;
        font-size: 20px;
    }